* {
  margin: 0;
  padding: 0;
  line-height: 2rem;
}

li {
  margin-bottom: 2rem;
}

.main {
  max-width: 450px;
  margin: 0 auto;
  margin-top: 10px;
}

.title {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}
